In [55]:
import pandas as pd

In [56]:
predicted_data = pd.read_csv("Predicted_Data.csv")
predicted_data.head()

,Unnamed: 0,Integer_Year,46214,46219,46220,46227,1 Bedroom,2 Bedroom,3 Bedroom,4 Bedroom,...,February,January,July,June,March,May,November,October,September,Median List Price per SqFt Calculated
0,0,25,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,192.22183
1,1,25,0,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,192.80588
2,2,25,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,193.02794
3,3,25,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,193.17319
4,4,25,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,192.48813

In [57]:
zip_codes = ['46214', '46219', '46220', '46227']

In [58]:
predicted1 = pd.DataFrame()

In [59]:
for zip in zip_codes:
    df = predicted_data.loc[predicted_data[zip]==1]
    df = df.drop(zip,axis=1)
    df["Zip_Code"] = zip
    predicted1 = pd.concat([predicted1,df])

In [60]:
predicted1["Zip_Code"]

120    46214
121    46214
122    46214
123    46214
124    46214
       ...
235    46227
236    46227
237    46227
238    46227
239    46227
Name: Zip_Code, Length: 240, dtype: object

In [61]:
print(len(predicted1["Zip_Code"]))

240

In [62]:
predicted1 = predicted1.drop(["46214","46219","46220","46227"], axis=1)

In [63]:
predicted1.tail()

,Unnamed: 0,Integer_Year,1 Bedroom,2 Bedroom,3 Bedroom,4 Bedroom,5 Bedroom,April,August,December,...,January,July,June,March,May,November,October,September,Median List Price per SqFt Calculated,Zip_Code
235,235,25,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,124.398254,46227
236,236,25,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,119.664900,46227
237,237,25,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,125.501660,46227
238,238,25,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,124.030930,46227
239,239,25,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,120.832440,46227

In [64]:
print(len(predicted1["Zip_Code"]))

240

In [65]:
bedroom = {"1 Bedroom": 1, "2 Bedroom": 2, "3 Bedroom": 3, "4 Bedroom": 4, "5 Bedroom": 5}

In [66]:
predicted2 = pd.DataFrame()

In [67]:
for key,value in bedroom.items():
    df = predicted1.loc[predicted1[key]==1]
    df["No. of Bedrooms"] = value
    predicted2 = pd.concat([predicted2,df])

C:\Users\Phos\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [68]:
predicted2.tail()

,Unnamed: 0,Integer_Year,1 Bedroom,2 Bedroom,3 Bedroom,4 Bedroom,5 Bedroom,April,August,December,...,July,June,March,May,November,October,September,Median List Price per SqFt Calculated,Zip_Code,No. of Bedrooms
219,219,25,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,117.283035,46227,5
224,224,25,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,113.974556,46227,5
229,229,25,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,119.278330,46227,5
234,234,25,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,115.247086,46227,5
239,239,25,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,120.832440,46227,5

In [69]:
print(len(predicted2["No. of Bedrooms"]))

240

In [70]:
predicted2 = predicted2.drop(["1 Bedroom", "2 Bedroom", "3 Bedroom", "4 Bedroom", "5 Bedroom"], axis=1)

In [71]:
predicted2.head()

,Unnamed: 0,Integer_Year,April,August,December,February,January,July,June,March,May,November,October,September,Median List Price per SqFt Calculated,Zip_Code,No. of Bedrooms
120,120,25,0,0,0,0,1,0,0,0,0,0,0,0,98.20838,46214,1
125,125,25,0,0,0,1,0,0,0,0,0,0,0,0,96.12155,46214,1
130,130,25,0,0,0,0,0,0,0,1,0,0,0,0,95.64940,46214,1
135,135,25,1,0,0,0,0,0,0,0,0,0,0,0,98.28073,46214,1
140,140,25,0,0,0,0,0,0,0,0,1,0,0,0,97.32834,46214,1

In [72]:
print(len(predicted2["No. of Bedrooms"]))

240

In [73]:
month = {"January":1, "February":2, "March":3, "April":4, "May":5, "June":6, "July":7, "August":8, "September":9,
        "October":10, "November":11, "December":12}

In [74]:
predicted3 = pd.DataFrame()

In [75]:
for key,value in month.items():
    df = predicted2.loc[predicted2[key]==1]
    df["Month"] = value
    predicted3 = pd.concat([predicted3,df])

C:\Users\Phos\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [76]:
predicted3.tail()

,Unnamed: 0,Integer_Year,April,August,December,February,January,July,June,March,May,November,October,September,Median List Price per SqFt Calculated,Zip_Code,No. of Bedrooms,Month
238,238,25,0,0,1,0,0,0,0,0,0,0,0,0,124.030930,46227,4,12
179,179,25,0,0,1,0,0,0,0,0,0,0,0,0,108.584900,46214,5,12
119,119,25,0,0,1,0,0,0,0,0,0,0,0,0,108.538956,46219,5,12
59,59,25,0,0,1,0,0,0,0,0,0,0,0,0,186.925660,46220,5,12
239,239,25,0,0,1,0,0,0,0,0,0,0,0,0,120.832440,46227,5,12

In [77]:
print(len(predicted3["Month"]))

240

In [78]:
predicted3 = predicted3.drop(["January", "February", "March", "April", "May", "June", "July", "August", "September",
        "October", "November", "December"], axis=1)

In [79]:
predicted3.head()

,Unnamed: 0,Integer_Year,Median List Price per SqFt Calculated,Zip_Code,No. of Bedrooms,Month
120,120,25,98.208380,46214,1,1
60,60,25,93.930176,46219,1,1
0,0,25,192.221830,46220,1,1
180,180,25,109.888040,46227,1,1
121,121,25,95.862240,46214,2,1

In [80]:
print(len(predicted3["Month"]))

240

In [81]:
predicted3.to_csv("Predicted_Data_Final.csv")